.feedback-links ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0;
}

.feedback-links ul li {
    padding-top: .25rem;
}

.list ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0;
}

.footer {
    font-size: 85%;
}